<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="../src/output.css">
</head>

<body>
    <nav class="flex justify-around bg-[#052c34] text-white p-4">
        <div class="logo">Ganesh <span class="text-yellow-400">Dutt</span> </div>
        <ul class="hidden sm:flex gap-7">
            <li><a class="hover:text-yellow-400" href="#">Home</a></li>
            <li><a class="hover:text-yellow-400" href="#">About</a></li>
            <li><a class="hover:text-yellow-400" href="#">Contact</a></li>
            <li><a class="hover:text-yellow-400" href="#">Project</a></li>
        </ul>
        <div class="bar sm:hidden">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
    </nav>
    <div class="px-12">
        <div
            class="bg-[url(https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=400)] heroSection flex flex-col-reverse md:flex-row items-center justify-center gap-5  py-5">
            <div>
                <h1 class="text-2xl font-bold text-center md:text-left text-yellow-400">Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum labore impedit voluptate sequi fugit
                    distinctio non eveniet sapiente repudiandae provident facilis, odio porro, qui earum hic mollitia.
                    Labore,
                    quod dolorum?</p>
                <button class="bg-[#052c34] rounded-3xl text-white px-4 py-2 ">Click me </button>
            </div>
            <img class="w-[300px] h-[300px] md:w-[400px]  md:h-[400px] rounded-full"
                src="../Screenshot 2025-10-09 171806.png" alt="">
        </div>

        <div class="section2 my-3">
            <h1 class="text-center text-3xl font-bold mb-4">Lorem ipsum dolor sit amet.</h1>

            <div class="cards flex gap-5 flex-wrap justify-center">
                <div class="card shadow-md shadow-gray-800 w-xs text-center rounded">
                    <img class="rounded" src="../Screenshot 2025-10-09 171806.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iure, libero eveniet magni
                        exercitationem animi natus tempora asperiores id quaerat pariatur facere cumque itaque
                        recusandae
                        inventore fuga obcaecati consequatur aperiam.</p>
                    <a href="#" class="text-blue-500">Read...</a>
                </div>
                <div class="card shadow-md shadow-gray-800 w-xs text-center rounded">
                    <img class="rounded" src="../Screenshot 2025-10-09 171806.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iure, libero eveniet magni
                        exercitationem animi natus tempora asperiores id quaerat pariatur facere cumque itaque
                        recusandae
                        inventore fuga obcaecati consequatur aperiam.</p>
                    <a href="#" class="text-blue-500">Read...</a>
                </div>
                <div class="card shadow-md shadow-gray-800 w-xs text-center rounded">
                    <img class="rounded" src="../Screenshot 2025-10-09 171806.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iure, libero eveniet magni
                        exercitationem animi natus tempora asperiores id quaerat pariatur facere cumque itaque
                        recusandae
                        inventore fuga obcaecati consequatur aperiam.</p>
                    <a href="#" class="text-blue-500">Read...</a>
                </div>
            </div>
        </div>



    </div>
</body>

</html>