<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS
    </title>
    <link rel="stylesheet" href="./src/output.css">
</head>

<body>
    <h1 class="text-red-200 bg-gray-900  py-5 px-5 mx-5 my-5 ml-[45px]">Lorem ipsum dolor sit amet.</h1>
    <ul class="flex justify-around font-mono">
        <li>home</li>
        <li>about</li>
        <li>contact</li>
        <li>services</li>
    </ul>
</body>

</html>