@import "tailwindcss";

/* <!-- base  Element -->
<!-- components -->
<!-- utilities --> */

@layer base {
  h1 {
    @apply text-2xl font-bold text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-900 hover:bg-blue-500 rounded-3xl text-white px-4 py-2;
  }
  .btn-danger {
    @apply bg-red-900 hover:bg-red-500 rounded-3xl text-white px-4 py-2;
  }
}

@layer utilities {
  .container {
    padding: 0 30px;
  }
}
